:root {
  font-family: 'Segoe UI', 'Microsoft YaHei', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f9ff;
  color: #112356;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f4f9ff;
}

button,
input,
textarea {
  font-family: inherit;
}
